.button {
  position: fixed;
  bottom: 50px; /* Ajusta este valor según lo que necesites */
  right: 20px; /* Ajusta este valor según lo que necesites */
  background-color: var(--heading-color);
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  cursor: pointer;

  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 200;
}
